@model modpack.ViewModels.CLoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Modpack 工作室 後台管理者登入系統</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <form asp-controller="AdminUser" asp-action="Login" method="post">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h1><i>Modpack</i>&nbsp;工作室</h1>
            <h1>管理者後台系統</h1>
            <div class="form-group">
                <div class="col-md-10">
                    <label asp-for="txtAccount"></label><br />
                    <input asp-for="txtAccount" class="form-control" value="" />
                </div>
                <div class="col-md-10">
                    <div style="margin-top: 20px;">
                        <label asp-for="txtPassword"></label><br />
                        <input asp-for="txtPassword" type="password" class="form-control" value="" />
                    </div>
                </div>
                <!-- error -->
                <div class="alert-container">
                    @* <span asp-validation-for="txtError" class="text-danger"></span> *@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">登入</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        @if (!ViewData.ModelState.IsValid)
        {
            <text>
                var errorMessages = '@Html.Raw(string.Join("\\n", ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage)))';
                if (errorMessages.trim() !== "") {
                    alert(errorMessages);
                }
            </text>
        }
    </script>
</body>
</html>