/**/
/* product list*/
.product-price span del {
    position: relative !important;
    text-decoration: none !important;
}

.product-price span del::before {
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 2px;
    left: 50%; /* 将左边缘置于父元素的中间 */
    transform: translateX(-200%); /* 通过向左移动自身宽度的一半来实现居中 */
    bottom: 40%;
    background-color: red !important;
    overflow: hidden !important;
}

.product-price > span:nth-last-child(2) {
    font-style: italic;
}

/* StatusId effect */
.product-image {
    position: relative;
    display: inline-block;
}

.status {
    font-size: 28px !important;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 4px 8px;
    transform: rotate(45deg) translate(50%, 90%); /* 同時旋轉和移動 */
    transform-origin: 100% 0%; /* 設定旋轉的基準點為右上角 */
    width: 190px;
    text-align: center;
}

.product-like-active {
    /**/
    color: green;
}

/* skeleton-1 */
.skeleton-default {
    min-height: 150px;
    position: relative;
    display: none;
}

.skeleton-rectangle {
    width: 350px;
    height: 446px;
    background-color: #e0e0e0;
    animation: blink .5s infinite alternate;
}

.skeleton-rectangle-medium,
.skeleton-rectangle-small {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    margin-top: 10px;
    animation: blink 1.5s infinite alternate;
}

.skeleton-rectangle-small {
    width: 40%;
    height: 15px;
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1024) {
    .skeleton-rectangle {
        width: 330px;
        height: 446px;
    }

    .skeleton-rectangle-medium {
        width: 330px;
        height: 21px;
    }

    .skeleton-rectangle-small {
        width: 97px;
        height: 20px;
    }
}

/* skeleton-2 rwd*/
@media (max-width: 768px) {
    .skeleton-rectangle {
        width: 245px;
        height: 331px;
    }

    .skeleton-rectangle-medium {
        margin-top: 12px;
        width: 215px;
        height: 20px;
    }

    .skeleton-rectangle-small {
        width: 97px;
        height: 20px;
    }
}

.show-skeleton .skeleton-default {
    display: block !important;
}

/*共用*/
.hide {
    display: none !important;
}
