@model IEnumerable<modpackFront.Models.ImageCarousel>
@{
    ViewData["Title"] = "exampleHome";
}

<div class="swiper-container swiper-container-alt">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image: url(/assets/images/background-4.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-8 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">
                            馬上擁有 <b>Modpack 背包</b> 踏上
                        </h1>
                        <a href="" class="btn btn-white">立即觀看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image: url(/assets/images/background-5.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">Transform your home with us.</h1>
                        <a href="" class="btn btn-outline-white">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<section class="pt-1">
    <div class="container-full">
        <div class="row masonry gutter-1">

            <!-- product -->
            

            <div class="col-md-4">
                    <a href="" class="card card-equal equal-50 equal-md-100 card-scale">
                        <!-- cor -->
                    <span class="image image-overlay"
                              style="background-image: url(/assets/images/card-1.jpg)"></span>  <!-- cor -->
                    <div class="card-body text-center text-white">
                        <h3>最新背包</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                    <a href="" class="card card-equal equal-50 equal-md-100 card-scale">
                        <!-- cor -->
                    <span class="image image-overlay"
                              style="background-image: url(/assets/images/card-2.jpg)"></span>  <!-- cor -->
                    <div class="card-body text-center text-white">
                        <h3>人氣靈感</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                    <a href="" class="card card-equal equal-50 equal-md-100 card-scale">
                        <!-- cor -->
                    <span class="image image-overlay"
                              style="background-image: url(/assets/images/card-3.jpg)"></span>  <!-- cor -->
                    <div class="card-body text-center text-white">
                        <h3>人氣客製</h3>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>


<section class="pt-0 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Latest Products</h2>
            </div>
        </div>
        <div class="row gutter-2 gutter-md-3">
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/assets/images/product-1.jpg" alt="Image" />
                            <img src="/assets/images/product-1-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Fawn Wool / Natural Mammoth Chair </a>
                        </h3>
                        <div class="product-price">
                            <span>$2,268</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <div class="owl-carousel" data-nav="true" data-loop="true">
                            <a href="#!">
                                <img src="/assets/images/product-2.jpg" alt="Image" />
                            </a>
                            <a href="#!">
                                <img src="/assets/images/product-2-2.jpg" alt="Image" />
                            </a>
                            <a href="#!">
                                <img src="/assets/images/product-2-3.jpg" alt="Image" />
                            </a>
                        </div>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Dark Stained NY11 Dining Chair</a>
                        </h3>
                        <div class="product-price">
                            <span>$504</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/assets/images/product-3.jpg" alt="Image" />
                            <img src="/assets/images/product-3-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Black IC Pendant Light</a>
                        </h3>
                        <div class="product-price">
                            <span>$410</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <span class="product-promo">-25%</span>
                        <a href="#!">
                            <img src="/assets/images/product-4.jpg" alt="Image" />
                            <img src="/assets/images/product-4-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Red Analog Magazine Rack</a>
                        </h3>
                        <div class="product-price">
                            <span>$120</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/assets/images/product-5.jpg" alt="Image" />
                            <img src="/assets/images/product-5-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Black Piani Table Lamp</a>
                        </h3>
                        <div class="product-price">
                            <span>$290</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/assets/images/product-6.jpg" alt="Image" />
                            <img src="/assets/images/product-6-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Grey Pendant Bell Lamp</a>
                        </h3>
                        <div class="product-price">
                            <span>$258</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/assets/images/product-25.jpg" alt="Image" />
                            <img src="/assets/images/product-25-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">Gravel Black Sigg Water Bottle</a>
                        </h3>
                        <div class="product-price">
                            <span>$23</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/assets/images/product-7.jpg" alt="Image" />
                            <img src="/assets/images/product-7-2.jpg" alt="Image" />
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Garnet Must Sofa</a></h3>
                        <div class="product-price">
                            <span>$4,668</span>
                            <span class="product-action">
                                <a href="#!">Add to cart</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#!" class="btn btn-outline-secondary">Load More</a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        // add to favorite
        document.addEventListener('click', => {

        });



    </script>
}

@section Styles{
    <style>
        /* media product div*/
    </style>
}