@{
    ViewData["Title"] = "FAQ";
}

<div class="container" style="padding-top:9rem">


    <body>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <h4 style="background-color: #e8e8e8; margin: 0;">反詐騙公告 </h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        客服查證
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <p>
                            <strong> ModPack不會以電話或其他形式，告知您已升等會員等級及其他工作流程有誤為由，而要求您刷卡、退款或匯款。</strong>
                            <li>近期詐騙集團猖獗，請顧客留意，慎防詐騙，如有疑慮請於上班時段洽客服專線00-0000 0000或撥打165反詐騙專線查證。</li>
                            <li>ModPack對於客戶個資皆有做好妥善的安全防護，包含消費金流皆有套用SSL 憑證，並且使用 TLS1.2 (含) 以上的加密協定，符合國際組織網路傳輸安全標準。藉此更加維護本公司顧客的個人資料。</li>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        常見詐騙手法
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <li>
                            1. 詐騙能假冒顯示號碼:
                            詐騙集團可能假冒、竄改來電顯示成公家機關、銀行機構或ModPack電話(特別是來電顯示開頭為+號必可疑，例如+886…)，透過「交互來電」方式設下陷阱，請不要上當！
                        </li>
                        <li>
                            2. 詐騙專挑非上班時間：
                            詐騙集團通常在下班時間後於晚上或假日撥打電話，ModPack客服時間為：周一至周五9:00-12:00 / 13:00-18:00，ModPack 客服人員不會於「非上班時間」與您聯繫。
                        </li>
                        <li>
                            3. 若您接到自稱為ModPack或本公司與合作廠商任何人員之不明來電或簡訊，請務必留意！
                        </li>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        常見詐騙使用說詞：
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ur>
                            <strong>
                                ATM自動櫃員機或臨櫃、網路銀行等方式進行金融上的操作，並引誘您匯款轉帳到不明的私人帳戶，常見的藉口如下，且會不斷翻新，請千萬不要受騙！
                            </strong>
                            <br />
                            <li>1.通知錯誤設定為分期付款、連續或重複扣款</li>
                            <li>2.通知誤刷、誤植訂單筆數或金額等交易資料</li>
                            <li>3.通知包裹重複刷條碼產生錯誤或誤簽簽單內容</li>
                            <li>4.通知未收到款項或刷卡失敗而請求重新轉帳</li>
                            <li>5.通知溢付款項要退款</li>
                            <li>6.通知升等高級會員、月費會員或提供優惠折扣</li>
                            <li>7.通知變成批發商、經銷商等</li>
                            <li>8.通知中獎</li>
                        </ur>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        更多反詐騙資訊
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>內政部警政署165全民防騙網：<a href="https://165.npa.gov.tw/#/">https://165.npa.gov.tw/#/</a></p>
                        <p>165全民防騙：&nbsp;<a href="https://www.facebook.com/165bear/">https://www.facebook.com/165bear/&nbsp;</a></p>
                    </div>
                </div>


            </div>
 

            <br />
            <h4 style="background-color: #e8e8e8; margin: 0;">發票說明</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="false" aria-controls="panelsStayOpen-collapsefive">
                        電子發票實施作業要點
                    </button>
                </h2>
                <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <li>根據財政部訂定之「  電子發票實施作業要點 」。</li>
                            <p>
                                於ModPack購物消費開立之統一發票資訊，將上傳至 財政部電子發票整合平台  留存。 消費者可利用財政部電子發票整合平台及「訂單查詢」查詢消費紀錄。
                                若有索取 「發票證明聯」，退貨時需寄回。使用電子發票載具者，發票將上傳至發票服務整合平台作廢，無須特別理會。
                            </p>
                            <li>手機載具說明</li>
                            <li>手機條碼申請</li>
                            <li>電子發票說明</li>
                        </ul>
                    </div>
                </div>
            </div> 

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">購物須知</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                        購物須知
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>

                            <p>
                                歡迎來到台灣ModPack官網購物商店。
                                在這裡您可以簡單、方便、安全地購物!
                            </p>
                            <li>線上購物客服信箱：  ec@ll-ModPack.com </li>
                            <li>線上購物客服電話：000-0-0000 0000</li>
                            <li>線上購物營業時間：平日 Mon – Fri 9:00 ~ 12:00 / 13:00 ~ 18:00</li>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                        訂購注意
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <p>
                                若僅將商品點選「放入購物車」，不算完成該商品的訂購，系統亦不會保留庫存量。低庫存的商品分配皆以結帳順序為依據，故若未完成結帳流程，且此商品已售完的狀況下，將無法繼續進行結帳。如遇商品缺貨，購買頁面將會顯示暫時無法購買狀態，待商品補貨之後，會隨即開放購買。完成訂購的訂單會由系統自動處理，因此客服中心沒有辦法協助您更改訂單內容，如有更正需求，請先申請取消或退貨，並重新下單訂購您所需要的商品。
                            </p>
                            <li>1.若是訂單內的配送地址與手機號碼須修正，請於訂單處理出貨前與客服聯繫以便修改。</li>
                            <li>2.如訂單已進入包裝作業將無法修改收件資訊，如有修改需求請先申請取消訂單或退貨，並重新下單。</li>
                            <li>3.提醒您!客製化商品不適用7天鑑賞期規範，除新品瑕疵外，恕不接受退換貨申請。</li>
                        </ul>
                    </div>
                </div>
            </div> 

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">運費與配送</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                        訂單須知
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>

                            <p>
                                每筆訂單的運費【宅配為新台幣100元】、【超商取貨為新台幣60元】。
                                若單筆訂單金額達新台幣490元以上則免運費。
                            </p>
                            <li>提醒您!部份退貨使該筆訂單購物金額未達免運標準，則需收取原始訂單的寄送費用。</li>
                            <li>提醒您!客製化商品不適用7天鑑賞期規範，除新品瑕疵外，恕不接受退換貨申請。</li>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                        【宅配】
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <br>商品以宅配方式寄出，宅配範圍目前僅提供
                            <u>台灣本島地區</u>。
                            <br>出貨日期為正常營業日週一至週五(不含國定例假日)
                            <br>訂單成立並成功付款之訂單，待收到出貨通知後約+2~3個工作天可收到商品。
                            <br>訂單有備註指定到貨日期者，物流商將儘量配合依指定日期配送。
                            <br>提醒您!指定配送日期最多為訂單完成日+6天，物流商配送時間：週一至週六8:00~18:00(18:00後不進行配送)。
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                        【超商取貨】
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <br>超商取貨可指定全台小7門市，如遇寒、暑假校園門市無營業者恕無法指定
                            <br>訂單成立後，商品配達指定門市時，將發送簡訊通知您前往取貨，如未於期限內，取貨商品將自動進行退貨事宜。
                            <br>超商取貨注意事項：
                            <br>1) 超過NT$5,000以上訂單無法使用【超商取貨】，請改用【宅配】進行配送。
                            <br>2) 為配合超商包裹材積限制，ModPack超商取貨使用紙箱材積≦105cm ，最長邊不可超過45cm。
                            <br>※若超過指定大小，將由客服以電話或E-MAIL通知您這筆訂單無法配送將被取消，請重新訂購非超商取貨之訂單。
                            <br>3) 因超商取貨服務時限為超商訂定作業規範，無法依個人需求彈性更動，請您見諒！
                            <br>4) 取貨時需提供收件人手機末三碼及證件給超商店員核對身分後，方可取貨。
                            <br>5) 非本人可代領，但須攜帶收件人及代領者的證件給超商店員核對身分。
                            <br>6) 沒有收到簡訊，請確認輸入手機號碼是否正確、是否有開啟簡訊收發功能、是否設定拒收廣告簡訊及長時間未開機的用戶，可能無法收取簡訊，敬請見諒。
                            <br>7) 若達3次以上(含)，逾期未於通知期限內至指定門巿取貨，將會產生未取件記錄，未來將無法再使用該配送方式。
                            <br>8) 門市關轉-門市裝修、暑休、搬遷、改店號、特定日不配送貨品或天候等臨時狀況導致門市暫歇等原因，導致商品無法正常送達取貨門市。此時須請您協助重選配送門市，故請隨時留意『物流配送狀態』(如遇週末、國定例假日，將無法重新指定取貨門市，商品會進入退貨事宜)。
                            <br>
                            <br>※ 如為查詢訂單商品配送進度，可由下列方式查詢商品的配送狀況：
                            <br>請到首頁右上方登入『會員專區』後，至『訂單查詢』點選『訂單編號』確認商品物流配送狀態
                        </ul>
                    </div>
                </div>

            </div> 

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">付款方式</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven">
                        信用卡交易失敗的情形
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>

                            <p>
                                目前提供以、信用卡刷卡付款、及ATM匯款轉帳及超商取貨付款。部分發卡銀行所發行之信用卡可能會出現交易失敗的情形。
                            </p>
                            <li>持卡人如遇到無法進行網路交易的狀況，請向您的發卡銀行詢問詳細原因。 </li>
                            <li>逾期未完成付款之訂單，系統將自動取消該筆訂單，如還有購買需求，請重新下訂。</li>
                            <li>(使用信用卡、數位Link付款者請於下訂後15分鐘內完成付款；使用ATM匯款轉帳付款者請於下訂後2天內完成付款)</li>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwelve">
                        Link 購物數位Link點數回饋注意事項
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <li>回饋以ModPack購物實際轉跳至ModPack官網購買實際結帳付款之新台幣金額(扣除運費)計算。</li>
                            <li>回饋點數將依訂單內各品項分別計算和發送，以無條件捨去小數點之計算方式贈點，並依據回饋上限做計算。</li>
                            <li>數位Link點數回饋紀錄請透過手機版Link應用程式，點選「錢包」&gt;「數位Link」&gt;點選頁面上方點數，進入即可觀看「獲得紀錄」。</li>
                            <li>數位Link點數有效期限依最後一日點數獲得日期起至180日止(例:最後一次獲得點數日1/1，則點數使用期限為6/30止)。</li>
                            <li>如訂單符合數位Link贈點回饋資格，且無取消訂單或退貨退款事宜，回饋點數將於商品出貨後約30天由ModPack購物發送，請以跳轉頁上所顯示的回饋%數為主。 (請注意，每個時段的回饋%數可能會有所不同，因此購買後實際點數回饋仍需以「訂單成立時間」當下所設定的點數回饋百分比獲得點數為主。)</li>
                            <li>若您的交易符合導購資格，您將會於完成訂單後收到由ModPack購物官方帳號「ModPack購物通知」 發送的交易訊息通知，同時顯示於訂單記錄頁面。</li>
                            <li>商品價格、庫存、購物條件及優惠資訊，請依網站顯示之最終條件為準。</li>
                            <li>如有ModPack購物導購資格認定、數位Link點數回饋計算方式、延遲發放、短少或其他疑問，請洽ModPack購物客服中心詢問。</li>

                            <li>其餘ModPack購物相關問題，請參考Link支援中心說明;</li>
                        </ul>
                    </div>
                </div>
            </div> 


            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">取消訂單</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThirteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseThirteen">
                        取消訂單
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThirteen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>

                            <p>
                                若您的訂單需要取消，您可直接於會員專區的訂單查詢頁中取消 或 聯絡我們並提供您的訂單編號以利客服人員查詢處理。
                            </p>
                            <li>訂單取消後即無法復原。</li>
                            <li>若訂單商品已進入出貨作業，請恕無法為您取消訂單。</li>
                            <li>提醒您，若您取消訂單後重新訂購，商品庫存與售價請依當時頁面為主！</li>
                            <li>提醒您!客製化商品不適用7天鑑賞期規範，除新品瑕疵外，恕不接受退換貨申請。</li>
                        </ul>
                    </div>
                </div>
            </div> 



            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">實體商店商品購買後，是否可更換別的款式？</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFifteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFifteen">
                        實體商店商品購買後，是否可更換別的款式？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFifteen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>

                            <p>因應實體通路銷售規範，商品恕不接受退貨。 </p>
                            <p>在商品未經使用情況下，若有瑕疵、破損等狀況，請於消費當日起14天內，憑原購買憑證(發票/刷卡存根/客服卡)，持配件、包裝完整之商品，至原購買門市進行換貨。換貨方式僅接受更換相同或等值（或價值更高）商品，並以現金及刷卡為限，使用禮券者恕不接受換貨。商品若經使用、洗滌，恕無法提供換貨服務。超過14天的換貨時效，於ModPack授權通路購買之商品僅提供維修服務。</p>
                            <p>註：ModPack保留接受換貨與否之權利。</p>
                            <p>
                                以上條款僅適用台灣地區，若於其他地區購買須以當地之規定為主，如有任何疑慮請洽當地專櫃或來信與客服部聯繫
                                <a style="color: #808000;" href="mailto:ModPack@ll-gmail.com">
                                    marketing@ll-ModPack.com
                                </a>
                            </p>
                        </ul>
                    </div>
                </div>
            </div> 

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">是否有提供網路購物/總公司電話訂購服務？</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFourteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFourteen">
                        是否有提供網路購物/總公司電話訂購服務？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFourteen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>

                            <p>為提供消費者更便利及完善的服務，ModPack於購物網授權設置購物專區，貼心的服務及詳細的商品說明，讓消費者隨時隨地皆可透過網路購買到ModPack的商品。</p>
                            <p>而為讓消費者挑選到最適合的商品，銷售方式主要仍以專櫃現場試背及網路購物中心提供詳細的商品規格介紹，總公司僅提供客服服務，並無電話訂購服務。</p>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSixteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseSixteen">
                        何處可找到ModPack包之銷售通路？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSixteen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <p>
                                建議你可至官網「
                                <span style="color: #808000;">
                                    <a style="color: #808000;" href="https://www.ll-ModPack.com/store/">
                                        門市資訊
                                    </a>
                                </span>」中查詢。
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">關於保固</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeventeen" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeventeen">
                        關於ModPack包的保固服務？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeventeen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            產品購買180天之內
                            <br>非人為/外力/不當使用造成的商品瑕疵：請將商品連同保固卡送回ModPack專賣店免費維修 人為/外力/不當使用造成的商品瑕疵：請將商品連同保固卡送回ModPack專賣店，將酌收維修費用。
                            <br>產品購買180天以上
                            <br>請將商品連同保固卡送回ModPack專賣店，將酌收維修費用。所有維修費用均經由總公司報價。
                            <ul>
                                註：
                                <li>(1)產品定義泛指袋包類商品，布夾配件類等小物不在其中。</li>
                                <li>(2)ModPack部分金屬五金屬五金電鍍、烤漆等上色處理，經使用後會產生局部掉色情況，為正常使用痕跡及自然現象，上述情況恕不列入保固維修範圍，敬請見諒。</li>
                                <li>(3)客製化商品不適用7天鑑賞期規範，除新品瑕疵外，恕不接受退換貨申請。</li>
                                <li>(4)以上條款僅適用台灣地區，若於其他地區購買須以當地之規定為主，如有任何疑慮請洽當地專櫃或來信與客服部聯繫</li>
                            </ul>
                            <span style="color: #808000;">
                                <a style="color: #808000;" href="mailto:ModPack@ll-gmail.com">marketing@ll-ModPack.com</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">商品保養須知</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEighteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseEighteen">
                        尼龍製品要如何保養？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEighteen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <li>包款請勿靠近或放置於高溫、高熱氣處</li>
                            <li>長期不使用時，請將袋身擦拭乾淨，置於通風處使其乾燥，再收放於陰涼乾燥處。</li>
                            <li>袋身係由多種材質、配件及金屬製成，部分款式會另加襯裡，請勿水洗或丟入洗衣機中清洗，以免破壞袋子本身結構。</li>
                            <li>請勿乾洗，並使用揮發性溶劑，以免造成顏色變化或材質變化。</li>
                            <li>如遇下雨，請盡快將袋子擦拭乾淨，並放置於通風處晾乾，以免受潮發霉。</li>
                            <li>袋包請勿裝入太多或過重之物品，易使袋包，甚至可能導致五金零件損壞</li>
                        </ul>
                        <p>若您的包款遇灰塵或油漬時，可採以下方式處理：</p>
                        <ul>
                            <li>袋子若有灰塵髒污，建議先以軟布稍為沾濕後擦拭。</li>
                            <li>如遇油漬髒污，建議以軟布沾洗碗精局部擦拭，再以軟布沾水清潔，最後使用乾布擦乾即可。</li>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNineteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseNineteen">
                        帆布商品要如何保養？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseNineteen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <li>包款請勿靠近或放置於高溫、高熱氣處</li>
                            <li>長期不使用時，請將袋身擦拭乾淨，置於通風處使其乾燥，再收放於陰涼乾燥處。</li>
                            <li>袋身係由多種材質、配件及金屬製成，部分款式會另加襯裡，請勿水洗或丟入洗衣機中清洗，以免破壞袋子本身結構。</li>
                            <li>請勿乾洗，並使用揮發性溶劑，以免造成顏色變化或材質變化。</li>
                            <li>如遇下雨，請盡快將袋子擦拭乾淨，並放置於通風處晾乾，以免受潮發霉。</li>
                            <li>袋包請勿裝入太多或過重之物品，易使袋包，甚至可能導致五金零件損壞</li>
                            <li>黑色材質已進行高標準的染色牢度處理，但因材質本身特性，仍請注意少與淺色衣物接觸，以免產生移染現象</li>
                            <li>淺色材質請避免與深色衣物接觸，以免移染現象發生</li>
                        </ul>
                        <p><br>若您的包款遇灰塵或油漬時，可採以下方式處理：</p>
                        <ul>
                            <li>袋子若有灰塵髒污，建議先以軟布稍為沾濕後擦拭。</li>
                            <li>如遇油漬髒污，建議以軟布沾洗碗精局部擦拭，再以軟布沾水清潔，最後使用乾布擦乾即可。</li>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwenty" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwenty">
                        布製商品要如何保養？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwenty" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <li>由於布革製品十分敏感，請避免接觸油污、酸性及鹼性等物質或放置於高溫、高熱氣處</li>
                            <li>染色的布製品所產生的掉色情況，屬物料的自然現象，請避免與淺色放置一起，防止移染現象產生</li>
                            <li>袋包如果裝入太多或過重的東西，會使袋包破損，甚至可能會導致五金零件的損壞。</li>
                        </ul>
                        <p><br>若您的布製品如有髒汗、遇水或發霉現象產生，可採以下方式處理：</p>
                        <ul>
                            <li>遇雨、水滴或汗水時，請盡快將布夾擦乾，並放置於通風處晾乾，以免受潮發霉，另外請勿使用高溫、高熱的電器烘乾。</li>
                            <li>局部髒汙可使用布革專用清洗劑進行清潔動作，僅需噴灑少量清洗劑於布料上，再以乾布或海綿刷輕拭即可；另外請不要將布製品進行乾洗，或使用揮發性溶劑，以免造成顏色或材質變化。</li>
                            <li>布件表面若有發霉現象，請先使用毛刷輕刷表面霉斑後，並以乾淨的布重新擦拭後，放置於通風處去霉味，最後再以保養油擦拭即可。</li>
                        </ul>
                    </div>
                </div>

            </div> 

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">是否有提供包款清潔服務？</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyOne">
                        是否有提供包款清潔服務？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>很抱歉，目前尚無提供ModPack包的清潔服務，建議您將包款攜至ModPack櫃位，請店員檢視後提供最恰當之清潔方式建議。</p>
                    </div>
                </div>
            </div>

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">商品維修建議</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyTwo">
                        布夾類商品可進行維修嗎？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        
                        <ul>
                            <li>可以，惟實際可維修與否以及修復程度須視商品實際狀況評估，並需酌收部分維修費。</li>
                            <li> 註：以上條款僅適用台灣地區，若於其他地區購買須以當地之規定為主，如有任何疑慮請洽當地專櫃或來信與客服部聯繫</li>
                        </ul>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyThree">
                        包款僅小地方受損(例如:更換拉鍊等)，為何需要花費15-30個工作天進行維修？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            15-30個工作天的維修時間，主要是花費在往返寄送的過程，而非包款受損的程度，
                            <br>在此提供公司維修流程予以參考：
                            <br>各專櫃收件 → 交由台北物流統一整理 → 維修件需寄至台中總公司進行維修處理 → 維修完畢後再寄至北部物流中心
                            <br>→ 全省專櫃 → 由專櫃人員通知顧客至原櫃位領取維修商品。
                        </p>
                        <p>
                            註：以上條款僅適用台灣地區，若於其他地區購買須以當地之規定為主，如有任何疑慮請洽當地專櫃或來信與客服部聯繫
                            <a href="mailto:ModPack@ll-gmail.com">marketing@ll-ModPack.com</a>
                        </p>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyFour">
                        包款維修需花費多少時間？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>約15-30個工作天</p>
                        <p>
                            註：以上條款僅適用台灣地區，若於其他地區購買須以當地之規定為主，如有任何疑慮請洽當地專櫃或來信與客服部聯繫
                            <a href="mailto:ModPack@ll-gmail.com">marketing@ll-ModPack.com</a>
                        </p>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyFive">
                        袋包若要送修，應與何處聯繫？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            可直接將包款送至全省ModPack銷售點即可，銷售人員將協助紀錄需維修的地方，並與總公司聯繫後，提供維修報價。
                            <br>另包款送修時，請事先檢查，是否有遺留物品在袋包內，並將袋包上的配件取下自行保管(e.g 手電筒、真布鑰匙圈、活動底板等可拆卸之物品)，以免送修過程中遺失。
                        </p>
                        <p>註：部分特殊材質恕無法提供保固維修服務以上條款僅適用台灣地區，若於其他地區購買須以當地之規定為主，如有任何疑慮請洽當地專櫃或來信與客服部聯繫<a href="mailto:ModPack@ll-gmail.com">marketing@ll-ModPack.com</a></p>
                    </div>
                </div>

            </div>


            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">海外地區的消費者若有維修需求，應與何處聯繫？</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentySix" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentySix">
                        海外地區的消費者若有維修需求，應與何處聯繫？
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentySix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            非跨國維修：
                            <br>例如: 消費者居住地為香港，包款也從香港購入請攜帶包款及保固卡回原購買專櫃，銷售人員將為您協助包款送修事宜。
                        </p>
                        <p>
                            跨國維修：<br>例如:消費者居住香港，包款從其它販售ModPack包的國家所購入很抱歉，目前ModPack尚未提供跨國維修服務，
                            <br>若您遇到此種狀況，請直接來信與客服人員聯繫，將派專人為您服務，並向您回報可能產生的維修運費。
                        </p>
                    </div>
                </div>
            </div>

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">退貨及退款</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentySeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentySeven">
                        退貨辦法限適用於官網線上購物 :
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentySeven" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            <span style="font-family: 微軟正黑體;">
                                商品若不符所需或有瑕疵、配件短缺等情事，依據消費者保護法規定，提供商品簽收日起7天的猶豫期；所退回之商品必須是全新狀態且完整包裝(包含商品本體、配件、贈品、發票、客服卡、吊牌、內外包裝及所有隨附資料等)，若退回商品缺件、包裝不完整，或已使用、洗滌、吊牌拆除等非全新狀態，恕不接受退貨之服務。
                            </span>
                        </p>
                        <p>
                            <span style="font-family: 微軟正黑體;">
                                若收到瑕疵或錯誤商品，需於簽收日起7天猶豫期內提出退貨申請。提醒您! 官網訂單僅提供退貨服務，若有更換款式或顏色需求，請申請退貨後重新下單購買，凡參與行銷活動的訂單折扣商品需全單退貨；惟商品庫存如有短缺或價格異動，以重新下單時供貨狀態為準，不便之處敬請見諒。<br>※提醒您!部份退貨使該筆訂單購物金額未達免運標準，則需收取原始訂單的寄送費用(訂單購物金額未滿新台幣490元【超商取貨運費為新台幣60元】、【宅配運費為新台幣100元】。
                                <br>※提醒您!客製化商品不適用7天鑑賞期規範，除新品瑕疵外，恕不接受退換貨申請。
                            </span>
                        </p>
                    </div>
                </div>

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyEight">
                        退款方式
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyEight" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul>
                            <p>
                                <span style="font-family: 微軟正黑體;">我們核准退貨後，您的退款將透過您購物時所支付的方式退還。</span>
                                <br><span style="font-family: 微軟正黑體;">
                                    您可至網站會員專區的「訂單查詢」查詢目前的處理進度，當退款完成時，我們會發送退款完成通知信通知您。
                                </span>
                            </p>
                            <p><span style="font-family: 微軟正黑體;">退款方式說明如下 :</span></p>
                            <p><span style="font-family: 微軟正黑體;">1.若您的付款方式為信用卡線上付款，待您的退貨檢核無誤，將直接刷退至您當初使用來付款的信用卡帳戶中，且將於您的下一期信用卡帳單中顯示。</span></p>
                            <p>
                                <span style="font-family: 微軟正黑體;">2.若您的付款方式為ATM轉帳 ，請於線上申請退貨時填寫退款帳戶欄位，提供購買人的退款帳號資料。</span>
                            </p>
                            <p>
                                <span style="font-family: 微軟正黑體;">銀行 (如一號銀行)：</span>
                                <br><span style="font-family: 微軟正黑體;">銀行分行(如三號分行)：</span>
                                <br><span style="font-family: 微軟正黑體;">帳 號：</span>
                                <br><span style="font-family: 微軟正黑體;">戶 名： (須與訂購人姓名相同)</span>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">線上無法刷卡</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyNine">
                        線上無法刷卡
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwentyNine" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p><span style="font-family: 微軟正黑體; font-size: 12pt;">填完信用卡資料後，為何出現「無法顯示網頁」畫面？是否有訂購成功？</span></p>
                        <p><span style="font-family: 微軟正黑體; font-size: 12pt;">如您選完付款方式後按【送出】後網頁出現空白或無法顯示網頁者，表示結帳尚未完成，建議您可先來信或來電與客服人員確定訂單狀態及系統是否正常，如系統正常可能是以下狀況導致您結帳失敗</span></p>
                        <ol>
                            <li><span style="font-family: 微軟正黑體; font-size: 12pt;">狀況一：如您在輸入完信用卡資料送出後出現“無法顯示網頁”之頁面時，常是因為您的IE 瀏覽器之加密強度沒有提升至128 位元，因此被銀行刷卡授權端拒絕。所以只要更新您的IE 加密功能版本，就可以正常並安心使用網路刷卡機制了。</span></li>
                            <li><span style="font-family: 微軟正黑體; font-size: 12pt;">狀況二：如在刷卡畫面，填入卡號前與填入卡號後一片空白，則是電腦中暫存檔久未清除導致網頁無法更新而出現空白，請清空電腦中暫存檔後重新操作即可。</span></li>
                            <li><span style="font-family: 微軟正黑體; font-size: 12pt;">狀況三：如電腦中安裝的防毒軟體影響結帳頁面的顯示狀態，可能是防毒軟體的安全級數過高，請降低您電腦中安全級數的設定後重新操作即可。如以上狀況排除後尚皆無法解決問題，歡迎您來信或來電更改結帳方式。</span></li>
                        </ol>
                    </div>
                </div>
            </div>

            <br />
           <h4 style="background-color: #e8e8e8; margin: 0;">維修問題</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThirty" aria-expanded="false" aria-controls="panelsStayOpen-collapseThirty">
                        維修須知
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThirty" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            <span style="font-family: 微軟正黑體;">
                                維修須知
                            </span><br>
                            <span style="font-family: 微軟正黑體;">1. 出示客服卡至全台ModPack銷售門市即可享維修服務。</span>
                            <br><span style="font-family: 微軟正黑體;">2. 客服卡若遺失則視為保固外，恕不補發，將酌收維修費用。</span>
                            <br><span style="font-family: 微軟正黑體;">3. 若因袋身結構的原因無法維修時，將會退回商品，敬請見諒。</span>
                            <br>
                            <span style="font-family: 微軟正黑體;">4. 維修或是更換時，請先取下袋包配件，如：鑰匙圈、背帶、手電筒等任一可拆卸物品，以免送修過程中遺失。</span>
                            <br>
                            <span style="font-family: 微軟正黑體;">5. 布夾配件商品及部分特殊材質恕不提供保固維修服務，敬請見諒。</span>
                            <br><span style="font-family: 微軟正黑體;">6. 為尊重商品設計與原創性，恕不接受更改商品設計之維修要求。</span>
                            <br><span style="font-family: 微軟正黑體;">7. 針對2017年前生產之商品，因年限久遠，原物料停產等因素，停止提供維修服務，如有任何疑慮請來信與客服聯繫<a href="mailto:ModPack@ll-gmail.com"><u>marketing@ll-ModPack.com</u></a>，將由專人為您服務。</span>
                            <br><span style="font-family: 微軟正黑體;"> 8. 經通知取件日起一個月後，若未取件恕不負保管責任。</span>
                            <span style="font-family: 微軟正黑體;">
                                <br>
                            </span><span style="font-family: 微軟正黑體;">9. ModPack保留接受維修與否，及因應特殊系列材料短缺等狀況使用代替性配件或不提供維修之權利。</span>
                        </p>
                        <p><span style="font-family: 微軟正黑體;">上述保固、維修行為僅適用台灣地區 。</span></p>
                    </div>
                </div>
            </div>
        </div> 





        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    </body>


</div>