@model modpack.ViewModels.CImageCarouselViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>輪播管理</h1>
<h3>新增圖片</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="aImageCarouselID" />
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input type="file" asp-for="photo" name="photo" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aImageDescription" class="control-label"></label>
                <input asp-for="aImageDescription" class="form-control" />
                <span asp-validation-for="aImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確認新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
